.App {
  text-align: center;
  margin-top: 1.6rem;
}
button[disabled] {
  display: none;
}
.enviar {
  color: white;
  background: rgb(95, 93, 154);
}
.win {
  color: white;
  background: green;
  margin-top: 0.3rem;
}
.loss {
  background: red;
  color: white;
}

h2 {
  margin-top: 0.9rem;
  color: #757575;
  text-align: center;
  margin-bottom: 0.8rem;
}
.valores {
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.2rem;
}
.valores span,
h4 {
  color: #757575;
  font-size: 1.4rem;
}
.valores span.lucro {
  color: green;
}
.valores span.prejuizo {
  color: red;
}
