*{
	margin:0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #f0f0f7;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  width: 90vw;
  max-width: 810px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  position: relative;
}
button {
  margin-top: 35px;
  width: 100%;
  height: 40px;
  font: 600 2rem Archivo;
  border-radius: 0.9rem;
  color: #fff;
  background-color: var(--button-color);
  border: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.floating-label-input {
  position: relative;
  height: 60px;
  width: 100%;
}
.floating-label-input input {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  border: 0 none;
  outline: none;
  vertical-align: middle;
  font: 700 2rem Archivo;
  padding-top: 10px;
}
.floating-label-input label {
  position: absolute;
  top: calc(50% - 5px);
  font-size: 22px;
  left: 0;
  color: #000;
  transition: all 0.3s;
}
.floating-label-input input:focus ~ label,
.floating-label-input input:focus ~ label,
.floating-label-input input:valid ~ label {
  top: 0;
  font-size: 15px;
  color: #33bb55;
}
.floating-label-input .line {
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  background: #000;
  left: 0;
}
.floating-label-input .line:after {
  content: '';
  display: block;
  width: 0;
  background: #33bb55;
  height: 1px;
  transition: all 0.5s;
}
.floating-label-input input:focus ~ .line:after,
.floating-label-input input:focus ~ .line:after,
.floating-label-input input:valid ~ .line:after {
  width: 100%;
}
